@import "/src/styles.scss";

:host {
  display: flex;

  nav {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1rem;
      margin: 0;
      margin-left: var(--default-padding);
    }
  }
}
