<app-avatar
  [uploader]="uploader"
  [profilePhoto]="account.avatarSrc"
  [enableEditing]="editing"
></app-avatar>
<app-profile-form
  [account]="account"
  [enableEditing]="editing"
  (accountChange)="onAccountFormUpdate($event)"
>
  <nav>
    <app-switch-button
      type="submit"
      [on]="editing"
      (click)="click($event)"
      [enableEditing]="uploader.state !== fus.IN_PROGRESS"
    ></app-switch-button>
    <h1>
      {{ "ACCOUNT.EDIT" | translate }}
    </h1>
  </nav>
</app-profile-form>
