@import "/src/styles.scss";

:host {
  margin-left: var(--default-padding);

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--default-padding);
  }

  nav {
    display: flex;
    justify-content: space-between;

    button {
      @include button-style;

      flex-basis: 45%;

      &:focus {
        outline: 0;
      }

      &.hidden {
        display: none;
      }
    }
  }
}
