@import "/src/styles.scss";
@import "/src/app/core/layout/breakpoints.scss";

:host {
  display: flex;
  width: 100%;
  justify-content: center;

  @include small {
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1rem;
      margin: 0;
      margin-left: var(--default-padding);
    }

    app-switch-button {
      --width: 4rem;
      --height: 1.2rem;
    }
  }

  app-profile-form,
  app-avatar {
    flex-grow: 1;
  }
}
