@import "/src/styles.scss";

:host {
  display: flex;

  nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: var(--default-padding);

    header {
      display: flex;
      align-items: center;

      h1 {
        color: var(--theme-dark-color);
        margin: 0;
      }
    }

    ul {
      margin: 0;
      display: flex;
      justify-content: flex-end;

      li {
        display: flex;
        list-style: none;

        a {
          @include button-style;
        }

        & + li {
          padding-left: var(--default-padding);
        }
      }
    }
  }
}
