:host {
  label {
    display: flex;
    flex-direction: column;

    input {
      padding: 0;
      padding-top: var(--default-padding);
      margin-bottom: 2px;

      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;

      border: 0;
      color: var(--theme-yellow-color);

      transition: all var(--transition-time) ease;

      &:disabled {
        background-color: transparent;
        color: var(--theme-dark-color);
        border: 0;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
