<label>
  <app-switch-button
    type="checkbox"
    [enableEditing]="enableEditing"
    [(value)]="contactMethod.visible"
    (valueChange)="onContactChage()"
  ></app-switch-button>
  {{ "ACCOUNT.VISIBLE" | translate }}
</label>

<label>
  <input
    required
    [type]="contactMethod.methodDefinition.methodInputType"
    [pattern]="contactMethod.methodDefinition.methodInputRegex"
    [disabled]="!enableEditing"
    [(ngModel)]="contactMethod.methodValue"
    (change)="onContactChage()"
  />
  {{ contactMethod.methodDefinition.methodIdentifier | translate }}
</label>
