<div class="image-container">
  <button
    appDnd
    [maximumNumberOfFiles]="1"
    [supportedExtensions]="['image/jpeg', 'image/png']"
    (onfileDropped)="onFileChosen($event)"
    (onWrongFile)="onFileError($event)"
    (click)="onButtonClick()"
    [class.uploading]="uploader?.state === fus.IN_PROGRESS"
    [disabled]="!enableEditing"
  >
    <fa-icon [icon]="fileUploadIcon"></fa-icon>
    <h1>{{ "ACCOUNT.UPLOAD_AVATAR" | translate }}</h1>
  </button>
  <aside [class.uploading]="uploader?.state === fus.IN_PROGRESS">
    <h1>{{ "ACCOUNT.UPLOADING" | translate }}</h1>
    <progress max="100" [value]="uploader?.progress"></progress>
  </aside>
  <img [src]="profilePhoto" />
</div>
<input
  #fileInput
  type="file"
  accept=".jpg, .png"
  (change)="onFileChosen($event.target.files)"
/>
