<form ngNativeValidate (ngSubmit)="onSubmit()">
  <label>
    <input
      required
      name="username"
      [(ngModel)]="account.username"
      [disabled]="!enableEditing"
    />
    {{ "ACCOUNT.USERNAME" | translate }}
  </label>
  <label>
    <input
      required
      name="firstName"
      [(ngModel)]="account.firstName"
      [disabled]="!enableEditing"
    />
    {{ "ACCOUNT.FIRST_NAME" | translate }}
  </label>
  <label>
    <input
      required
      name="lastName"
      [(ngModel)]="account.lastName"
      [disabled]="!enableEditing"
    />
    {{ "ACCOUNT.LAST_NAME" | translate }}
  </label>
  <div class="two-container">
    <nav [class.hidden]="!enableEditing || admin">
      <app-radio
        [name]="'roles'"
        [enableEditing]="enableEditing"
        [options]="availableRoles"
        [(select)]="account.accountType"
      ></app-radio>
      {{ "ACCOUNT.CHANGE_ROLE" | translate }}
    </nav>
    <aside [class.hidden]="enableEditing && !admin">
      <h1>
        {{ account.accountType.typeIdentifier | translate }}
      </h1>
      {{ "ACCOUNT.ROLE" | translate }}
    </aside>
  </div>
  <ul>
    {{
      "ACCOUNT.CONTACT_METHODS" | translate
    }}
    <li
      *ngFor="
        let contactMethod of account.concactMethods;
        let i = index;
        trackBy: trackByFn
      "
    >
      <app-contact-method
        [enableEditing]="enableEditing"
        [(contactMethod)]="account.concactMethods[i]"
      ></app-contact-method>
      <button [disabled]="!enableEditing" (click)="deleteContact($event, i)">
        <fa-icon [icon]="trash"></fa-icon>
      </button>
    </li>
    <!-- <nav>
      <app-radio
        [name]="'contact-methods'"
        [enableEditing]="enableEditing"
        [options]="availableContactMethods"
        [(select)]="selectedContactMethod"
      >
      </app-radio>
      <button
        class="inverted"
        [disabled]="!enableEditing"
        (click)="addNewContact($event)"
      >
        add new
      </button>
    </nav> -->
  </ul>
  <!-- add your custom submit button here -->
  <ng-content></ng-content>
</form>
