:host {
  --height: 2rem;
  --width: 4rem;

  position: relative;
  user-select: none;
  width: var(--width);

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &.on + label,
    &:checked + label {
      background-color: var(--theme-yellow-color);
    }
    &.on + label,
    &:checked + label,
    &.on + label:before,
    &:checked + label:before {
      border-color: var(--theme-yellow-color);
    }
    &.on + label:before,
    &:checked + label:before {
      right: 0.2rem;
    }

    &:disabled,
    &:disabled + label {
      cursor: not-allowed;
      background-color: var(--theme-dark-color);
    }
  }

  label {
    display: block;
    overflow: hidden;
    cursor: pointer;

    height: var(--height);
    line-height: var(--height);

    padding: 0;

    border-radius: var(--default-radius);
    background-color: var(--theme-light-color);

    transition: background-color var(--transition-time) ease;

    &:before {
      content: "";
      display: block;
      width: calc(var(--height) - 0.3rem);
      height: calc(var(--height) - 0.3rem);
      margin: 0px;
      background: var(--theme-white-color);
      position: absolute;
      top: 0.15rem;
      bottom: 0.15rem;
      right: calc(100% - var(--height));
      border-radius: var(--default-radius);
      transition: all var(--transition-time) ease;
    }
  }
}
