:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  & > ::ng-deep *:not(router-outlet) {
    margin-top: var(--default-padding);
    background-color: var(--theme-white-color);
    border-radius: var(--default-radius);

    width: 80%;

    &:last-child {
      margin-bottom: var(--default-padding);
    }
  }
}
