@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");

:root {
  --theme-white-color: #fff;
  --theme-dark-color: #444545;
  --theme-light-color: #e7e4e3;
  --theme-yellow-color: #f0a202;
  --theme-green-color: #4da167;
  --theme-red-color: #fe5f55;

  --default-padding: 1rem;
  --default-radius: 0.8rem;

  --transition-time: 250ms;
}

html,
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  background-color: var(--theme-light-color);
}

* {
  box-sizing: border-box;
}

@mixin button-style {
  padding: var(--default-padding);
  text-decoration: none;

  border: 0;

  border-radius: var(--default-radius);
  color: var(--theme-yellow-color);

  font-weight: bold;

  cursor: pointer;

  &:hover,
  &.active {
    background-color: var(--theme-yellow-color);
    color: var(--theme-white-color);
  }

  &.inverted {
    background-color: var(--theme-yellow-color);
    color: var(--theme-white-color);

    &:hover,
    &.active {
      background-color: var(--theme-light-color);
      color: var(--theme-yellow-color);
    }

    &:disabled {
      background-color: var(--theme-light-color);
      color: var(--theme-white-color);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--theme-light-color);
    color: var(--theme-white-color);
  }
}
