:host {
  border-radius: var(--default-radius);
  position: relative;
  overflow: hidden;

  .image-container {
    display: flex;
  }

  aside,
  button {
    transition: all var(--transition-time) ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--theme-white-color);
    background-color: var(--theme-yellow-color);

    h1 {
      font-family: "Josefin Sans", sans-serif;
    }
  }

  button {
    border: 0;
    padding: 0;
    outline: 0;

    &:not(:disabled) {
      cursor: pointer;
    }
    filter: opacity(0);

    fa-icon {
      transition: all var(--transition-time) ease;

      font-size: 4rem;
      transform: scale(1);
      color: var(--theme-white-color);
    }

    &:hover,
    &.fileOver {
      &:not(:disabled) {
        filter: opacity(1);
      }
    }

    &:active {
      fa-icon {
        transform: scale(0.9);
      }
    }

    &.uploading {
      cursor: not-allowed;
    }
  }

  aside {
    pointer-events: none;
    filter: opacity(0);

    &.uploading {
      filter: opacity(1);
    }

    progress {
      appearance: none;

      &[value] {
        &::-webkit-progress-bar {
          background-color: var(--theme-dark-color);
          border-radius: var(--default-radius);
        }
        &::-webkit-progress-value {
          background-color: var(--theme-white-color);
          border-radius: var(--default-radius);
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--default-radius);
  }

  input {
    display: none;
  }
}
